<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ description|default('FaceBingo event icebreaker') }}">
  <title>{{ title|default('FaceBingo') }}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/global.css') }}">
  {% block styles %}{% endblock %}
  <link rel="icon" href="{{ url_for('static', path='/FaceBingo Logo.png') }}">
</head>
<body>
  {% include 'partials/header.html' %}
  <main>{% block content %}{% endblock %}</main>
  {% include 'partials/footer.html' %}
  {% block scripts %}{% endblock %}
</body>
</html>
